#articleTitle {
    color: rgb(218, 29, 29);
    font-size: 16px;
  }

  #news .box {
    padding: 30px;
    background: #fff;
    border: 2px solid #ddd;
    margin-left: 32px;
  }
  #news .box:hover {
    box-shadow: 0px 2px 4px 0px rgba(82, 82, 82, 0.75);
    border: 0;
  }

#articleImage {
  width: auto;
  height: 50px;
  /* background: url("https://vignette.wikia.nocookie.net/criminal-case-grimsborough/images/d/d9/News-Icon.png/revision/latest?cb=20140921131511") no-repeat; */
}

  #news h6 {
    margin-bottom: 16px;
    color: #aaa;
  }
  
  #news .row {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  #news .row:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
